@model CvManager.Model.WorkExperience
           
<div class="item">
    <h3>
        <span class="l">@Html.DisplayFor(m => m.Company)</span>
        <span class="r">@Html.DisplayFor(m => m.StartDate) — @Html.DisplayFor(m => m.EndDate)</span>
    </h3>
    <span class="clear">
    </span>
    <span class="job_title">@Html.DisplayFor(m => m.JobTitle)</span>
    <span class="info">
        @Html.Raw(Model.Details)
        <br>
    </span>
    <span class="clear">
    </span>
</div>