@{
    ViewBag.Title = "Cv";
    Layout = null;
}
@model CvManager.Model.Cv

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@Model.FullName</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Cv.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript">
        $(function() {

            function addToSection(url, resultId) {
                $.ajax({
                    url: url,
                    data: $('form').serializeArray(),
                    type: 'POST',
                    success: function(result) {
                        $(resultId).html(result);
                    }
                });
            }

            function removeFromSection(url, resultId) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(result) {
                        $(resultId).html(result);
                    }
                });
            };

            $('#addAchievement').on('click', function() {
                addToSection('@Url.Action("AddAchievement", "Home")', '#achievements');
            });

            $('#achievements').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveAchievement", "Home")' + '/' + index, '#achievements');
            });

            $('#addEducation').on('click', function () {
                addToSection('@Url.Action("AddEducation", "Home")', '#education');
            });

            $('#education').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveEducation", "Home")' + '/' + index, '#education');
            });

            $('#addWorkExperience').on('click', function () {
                addToSection('@Url.Action("AddWorkExperience", "Home")', '#workExperience');
            });

            $('#workExperience').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveWorkExperience", "Home")' + '/' + index, '#workExperience');
            });

            $('#addConference').on('click', function () {
                addToSection('@Url.Action("AddConference", "Home")', '#conferences');
            });

            $('#conferences').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveConference", "Home")' + '/' + index, '#conferences');
            });

            $('#addReference').on('click', function () {
                addToSection('@Url.Action("AddReference", "Home")', '#references');
            });

            $('#references').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveReference", "Home")' + '/' + index, '#references');
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <div id="main">
            <input type="submit" value="Submit"/>

            <h1 id="title">@Model.FullName</h1>
            <div class="basic-info section">
                <div class="set">
                    <p>
                        E-mail: @Html.EditorFor(m => m.Email) <span class="dot">§</span>
                        Website: @Html.EditorFor(m => m.Website) <span class="dot">§</span>
                        Phone: @Html.EditorFor(m => m.PhoneNumber)
                    </p>
                    <p>
                        @Model.Address
                    </p>
                    <div class="clear">
                    </div>
                </div>
                <!-- set //-->
                <div class="clear">
                </div>
            </div>
            <!-- basic-info //-->
            <div class="section section-education">
                <h2 class="title">Education</h2>
                <input type="button" value="add" id="addEducation" />
                <div class="set" id="education">
                    @Html.Partial("EditorTemplates/EducationList", Model)
                </div>
            </div>
            <div class="section section-work">
                <h2 class="title">Work experience</h2>
                <input type="button" value="add" id="addWorkExperience" />
                <div class="set" id="workExperience">
                    @Html.Partial("EditorTemplates/WorkExperienceList", Model)
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-interests">
                <h2 class="title">Field Work and Practical Experience</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">
                            @Html.EditorFor(m => m.Fieldwork)
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-1392497042317">
                <h2 class="title">Committees and Achievements</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">
                            <ul id="achievements">
                                @Html.Partial("EditorTemplates/AchievementList", Model)
                            </ul>
                            <input type="button" value="add" id="addAchievement"/>
                            <br><br>
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-1392497124818">
                <h2 class="title">Conferences</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">
                            <ul id="conferences">
                                @Html.Partial("EditorTemplates/ConferenceList", Model)
                            </ul>
                            <input type="button" value="add" id="addConference" />
                            <br><br>
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-1394453370588">
                <h2 class="title">Aquired skills</h2>
                <div class="set">
                    <div class="item">
                        <span class="info">
                            @Html.EditorFor(m => m.Skills)
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-references">
                <h2 class="title">References</h2>
                <div class="set">
                    <div class="item">
                        <input type="button" value="add" id="addReference" />
                        <div class="set" id="references">
                            @Html.Partial("EditorTemplates/ReferenceList", Model)
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    }
</body>
</html>

