@{
    ViewBag.Title = "Cv";
    Layout = null;
}
@model CvManager.Model.Cv

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@Model.FullName</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Cv.css" rel="stylesheet" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript">
        $(function() {

            function addToSection(url, resultId) {
                $.ajax({
                    url: url,
                    data: $('form').serializeArray(),
                    type: 'POST',
                    success: function(result) {
                        $(resultId).html(result);
                    }
                });
            }

            function removeFromSection(url, resultId) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(result) {
                        $(resultId).html(result);
                    }
                });
            };

            $('#addAchievement').on('click', function() {
                addToSection('@Url.Action("AddAchievement", "Home")', '#achievements');
            });

            $('#achievements').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveAchievement", "Home")' + '/' + index, '#achievements');
            });

            $('#addEducation').on('click', function () {
                addToSection('@Url.Action("AddEducation", "Home")', '#education');
            });

            $('#education').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveEducation", "Home")' + '/' + index, '#education');
            });

            $('#addWorkExperience').on('click', function () {
                addToSection('@Url.Action("AddWorkExperience", "Home")', '#workExperience');
            });

            $('#workExperience').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveWorkExperience", "Home")' + '/' + index, '#workExperience');
            });

            $('#addConference').on('click', function () {
                addToSection('@Url.Action("AddConference", "Home")', '#conferences');
            });

            $('#conferences').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveConference", "Home")' + '/' + index, '#conferences');
            });

            $('#addReference').on('click', function () {
                addToSection('@Url.Action("AddReference", "Home")', '#references');
            });

            $('#references').delegate('.removeA', 'click', function () {
                var index = $(this).data('val');
                removeFromSection('@Url.Action("RemoveReference", "Home")' + '/' + index, '#references');
            });
            
            showHide('#showHideEducation', '#education');
            showHide('#showHideWorkExperience', '#workExperience');
            showHide('#showHideFieldwork', '#fieldwork');
            showHide('#showHideAchievements', '#achievements');
            showHide('#showHideConferences', '#conferences');
            showHide('#showHideSkills', '#skills');
            showHide('#showHideReferences', '#references');

            function showHide(button, id) {
                $(id).hide();
                $(button).on('click', function () {
                    $(id).toggle();
                });
            }
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <div id="main">
            <input type="submit" value="Submit"/>

            <h1 id="title">@Model.FullName</h1>
            <div class="basic-info section">
                <div class="set">
                    <p>
                        E-mail: @Html.EditorFor(m => m.Email) <span class="dot">§</span>
                        Website: @Html.EditorFor(m => m.Website) <span class="dot">§</span>
                        Phone: @Html.EditorFor(m => m.PhoneNumber)
                    </p>
                    <p>
                        @Model.Address
                    </p>
                    <div class="clear">
                    </div>
                </div>
                <!-- set //-->
                <div class="clear">
                </div>
            </div>
            <!-- basic-info //-->
            <div class="section section-education">
                <h2 class="title">
                    Education
                    <input type="button" value="Add Education Item" id="addEducation" />
                    <input type="button" value="Show/Hide" id="showHideEducation" />
                </h2>
                
                <div class="set" id="education">
                    @Html.Partial("EditorTemplates/EducationList", Model)
                </div>
            </div>
            <div class="section section-work">
                <h2 class="title">
                    Work experience
                    <input type="button" value="Add Work Experience" id="addWorkExperience" />
                    <input type="button" value="Show/Hide" id="showHideWorkExperience" />
                </h2>

                <div class="set" id="workExperience">
                    @Html.Partial("EditorTemplates/WorkExperienceList", Model)
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section section-interests">
                <h2 class="title">
                    Field Work and Practical Experience
                    <input type="button" value="Show/Hide" id="showHideFieldwork" />
                </h2>
                <div class="set" id="fieldwork">
                    <div class="item">
                        <span class="info">
                            @Html.EditorFor(m => m.Fieldwork)
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section">
                <h2 class="title">
                    Committees and Achievements
                    <input type="button" value="Add Achievment" id="addAchievement" />
                    <input type="button" value="Show/Hide" id="showHideAchievements" />
                </h2>

                <div class="set">
                    <div class="item">
                        <span class="info">
                            <ul id="achievements">
                                @Html.Partial("EditorTemplates/AchievementList", Model)
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section">
                <h2 class="title">
                    Conferences
                    <input type="button" value="Add Conference" id="addConference" />
                    <input type="button" value="Show/Hide" id="showHideConferences" />
                </h2>
                <div class="set">
                    <div class="item">
                        <span class="info">
                            <ul id="conferences">
                                @Html.Partial("EditorTemplates/ConferenceList", Model)
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section">
                <h2 class="title">
                    Aquired skills
                    <input type="button" value="Show/Hide" id="showHideSkills" />
                </h2>
                <div class="set" id="skills">
                    <div class="item">
                        <span class="info">
                            @Html.EditorFor(m => m.Skills)
                        </span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="section">
                <h2 class="title">
                    References
                    <input type="button" value="Add Reference" id="addReference" />
                    <input type="button" value="Show/Hide" id="showHideReferences" />
                </h2>
                <div class="set">
                    <div class="item">
                        <div class="set" id="references">
                            @Html.Partial("EditorTemplates/ReferenceList", Model)
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    }
</body>
</html>

