@model CvManager.Model.Cv

@for (var i = 0; i < Model.Educations.Count; i++)
{
    <div class="item">
        <h3>
            @Html.HiddenFor(m => m.Educations[i].Id)
            <span class="l">@Html.TextBoxFor(m => m.Educations[i].Degree, new { placeholder = "Degree" })</span>
            <span class="r">
                @Html.TextBoxFor(m => m.Educations[i].StartDate, new { placeholder = "StartDate" })
                &nbsp;—&nbsp;
                @Html.TextBoxFor(m => m.Educations[i].EndDate, new { placeholder = "EndDate" })
            </span>
        </h3>
        <span class="clear">
        </span>
        <div class="school">@Html.TextBoxFor(m => m.Educations[i].Institute, new { placeholder = "Institute" })</div>
        <span class="info">
            @Html.EditorFor(m => m.Educations[i].Details, new { placeholder = "Details" })
        </span>
        
        <input type="button" value="Remove @Model.Educations[i].Degree" class="removeA" data-val="@i">

        <span class="clear">
        </span>
    </div>

}
