@model CvManager.Model.Reference
           
<strong>@Html.EditorFor(m => m.FullName):</strong>
<div>@Html.EditorFor(m => m.Job)</div>
<div>@Html.Raw("Phone:") @Html.EditorFor(m => m.PhoneNumber)</div>
<div>@Html.Raw("Email:") @Html.EditorFor(m => m.Email)</div>
<br/><br/>