@model CvManager.Model.Cv

@for (var i = 0; i < Model.References.Count; i++)
{
    <div class="item">
        <strong>@Html.TextBoxFor(m => m.References[i].FullName, new { placeholder = "FullName" }):</strong>
        <div>@Html.TextBoxFor(m => m.References[i].Job, new { placeholder = "Job" })</div>
        <div>@Html.Raw("Phone:") @Html.TextBoxFor(m => m.References[i].PhoneNumber, new { placeholder = "PhoneNumber" })</div>
        <div>@Html.Raw("Email:") @Html.TextBoxFor(m => m.References[i].Email, new { placeholder = "Email" })</div>
    
        <input type="button" value="Remove @Model.References[i].FullName" class="removeA" data-val="@i">
    </div>
}
