@model CvManager.Model.WorkExperience
           
<div class="item">
    @*<h3>
        <span class="l">@Html.EditorFor(m => m.Company)</span>
        <span class="r">@Html.EditorFor(m => m.StartDate) — @item.EndDate</span>
    </h3>
    <span class="clear">
    </span>
    <span class="job_title">@item.JobTitle</span>
    <span class="info">
        @Html.Raw(item.Details)
        <br>
    </span>
    <span class="clear">
    </span>*@
</div>